img {
    /* background-image: url('puppy.jpg'); */
      display: block;
      margin: auto;
      width: 50%;
}
header {
  font-size: 1em;
  text-align: center;
  padding: 0.2em;
  background-color: #F1F1F1;

  }

h3 {
  text-align: center;
  font-size: 0.8em;
  background-color: #F1F1F1;
  margin-bottom: 0em;
}


h6 {
    background-color: #F1F1F1;
    text-align: center;
    font-size: 0.8em;
    margin: 0.5em;
  }

  form {
    background-color: #F1F1F1;
    text-align: center;
    font-size: 0.8em;
  }

.no-username {
    background-color: #F1F1F1;
    text-align: center;
    margin: 0.5em;
  }